.sidebar__chat__list{
    max-height: 450px;
    overflow-y: auto;
}
.sidebar__chat{
    display: flex;
    align-items: center;
    padding: 24px;
    cursor: pointer;
    border-radius: 10px; 
    margin-left: 5px;
    margin-right: 5px;
}
.sidebar__chat:hover{
    background-color: var(--primary-color);
}
.sidebar__chat__content{
    margin-left: 12px;   
}