*{
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f6f6f6;
  --secondary-color: #ffffff;
  --font-size: 16px;
}

.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--primary-color);
}
.app_body{
  display: grid;
  grid-template-columns: 3fr 9fr;
  width: 90vw;
  height: 95vh;
  background-color: #ffffff;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-color: black;
}